{{header}}
{{aside}}
<div class="content content_page_catalog">
            <div class="catalog">

                <div class="catalog__sort">
                    <span>Сортировать по:</span>
                    <a href="#">Дата выпуска
                        <i class="catalog__icon catalog__icon_type_down"></i>
                    </a>
                    <a href="#">Цена
                        <i class="catalog__icon catalog__icon_type_down"></i>
                    </a>
                </div>
                <h1 class="catalog__title">Все авто</h1>
            {{card}}
</div>
        </div>
{{footer}}